.row {
	justify-content:center;
}

.totale{
	background-color: lightgray;
}
.choose{
	border: 1px solid black;
    padding: 10px;
    border-radius: 10px;
	max-width: 100%; 
    margin:10px;
    max-width:100%;
}

.acquista {
	text-decoration: none;
	border: 1px solid lightgray;
	border-radius: 2em;
	font-size: 1em;
	background-color: lightgray;
	font-weight: normal;
	text-align:center;
	width: auto;
	padding: 10px;
    margin: 20px;
    justify-content:space-around;
}

.acquista:hover {
	background-color:gray;
	transition:0.3s;
	cursor: pointer;
	border: gray;
}


.met{
	display:flex;
	align-items: center;
	padding:20px;
	max-width:100%;
}

  .completo{
	display:flex;
	justify-content:center;

}  

.metodi{
	max-width:100%;
	display:flex;
} 






















































