  @font-face{
    font-family: "romla";
    src: url("./font/Romla.ttf");
 }
 
 * {
      margin: 0;
      padding: 0;
    }
    
    /* Stile del body */
    body {
      font-family: Arial, sans-serif;
      display: flex;
      flex-direction: column;
      min-height: 100vh;
    }
    
  .containerh {
      position: relative;
      width: 100%;
      height: 0;
      padding-bottom: 42%; /* Rapporto 16:9 per l'altezza del video */
    }
    
    .video {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: fill;
      
    }
    
    .text-overlay {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
      color: #fff; /* Colore del testo */
      font-size: 24px; /* Dimensione del testo */
      font-family:romla;
    }

    @media screen and (max-width: 600px) {
      /* Stili per schermi con larghezza massima di 600px */
      .container {
        padding-bottom: 75%; /* Rapporto 4:3 per l'altezza del video */
      }
    }